body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#cal {
    text-align: center;
    background-color: #010101;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#top {
    background-color: white;
}

#ac {
    background-color: #09736a;
    color: #09736a;
}

#cut {
    background-color: #09736a;
}

#q {
    background-color: rgb(61, 65, 62);
}

#q1 {
    background-color: rgb(61, 65, 62);
}

input[type="text"] {
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 10px; 
    border: none;
}

button {
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
}

button:hover {
    background-color: #2980b9;
}
